fairseq==0.12.2
faiss-cpu==1.7.3
ffmpeg-python>=0.2.0
gradio==3.26.0
librosa==0.9.1
numpy==2.0.0
onnxruntime_gpu
praat-parselmouth>=0.4.2
pydantic==2.9.2
pyworld==0.3.4
Requests==2.32.3
websockets==14.0.0
scipy==1.13.1
soundfile==0.12.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.6.0
torchcrepe==0.0.20
tqdm==4.67.0
